<div class="index">
  <div class="bookings-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), 
    url(<%= image_path 'endoftheworld1.jpg'%>)">
    <h1>My Booked <%= "Trip".pluralize(@user_bookings.count)%> <i class="fas fa-bed"></i></h1>
  </div>

  <div class="index-card">
    <div class="row">
      <% @user_bookings.each do |booking| %>
        <div class="col-xs-12 col-sm-6" >
          <div class="bookings-card">
            <div class="bookings-card-image" style="background-image: url('<%= cl_image_path booking.bunker.photo %>');"></div>
            <div class="bookings-card-body">
              <div class="bookings-card-header">
                <div class="bookings-card-user" style="background-image: url('<%= cl_image_path booking.bunker.user.photo %>')"></div>  
                <p>sent a request to <em><%= booking.bunker.user.first_name %></em></p>
              </div>
              <div class="index-line"></div>
              <div class="bookings-card-name"><h6><%= booking.bunker.name %></h6></div>
              <i class="fas fa-dollar-sign"></i> <%= number_with_delimiter(booking.bunker.price, :delimiter => ',') %>
              <div class="bookings-card-status">
                <% if booking.status == "pending" %>
                  <p><%= booking.created_at.strftime("%c") %></p>
                  <div class="pending">
                    <h1><i class="fas fa-spinner"></i></h1>
                    Pending 
                  </div>
                <% elsif booking.status == "accepted" %>
                  <p> Now you are safe </p>
                  <div class="accepted">
                    <h1><i class="fas fa-check-circle"></i></h1>
                    Accepted 
                  </div>
                <% else %>
                  <p> Sorry, your request was denied. </p>
                  <div class="rejected">
                    <h1><i class="fas fa-ban"></i></h1>
                      Rejected 
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>