<div class="cover-photo" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'endoftheworld-earth.jpg'%>)"></div>

<div id="newbunker"></div>

  <div class="newbunker-content">
    <div>
      <span><i class="fas fa-exclamation-triangle">
      Host a Bunker
      <span><i class="fas fa-exclamation-triangle"></i></span>
      </i></span>
    </div>
    <div>
      <% if policy(Bunker).new? %>
      <%= link_to 'Add a New Bunker', new_bunker_path, class: 'btn btn-danger btn-lg' %>
      <% end %>
    </div>
  </div>

  <div id="container-bunker">
    <h2>My <%= "Bunker".pluralize(@bunkers.count)%></h2>
    <% if current_user.owned_bunkers_bookings.count == 0%>
      <%= link_to 'Add a New Bunker', new_bunker_path %>
    <% else %>
      <div class="row">
        <% @bunkers.each do |bunker| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card">
              <div class="card-img-top" style="background-image: url(<%= cl_image_path bunker.photo%>)"></div>
              <div class="card-body">
                <h6 class="card-title"><%= bunker.name %></h6>
                <p class="card-text">
                  <span><i class="fas fa-map-marker-alt"></i> <%= bunker.address %></span>
                </p>
                <p class="card-text">
                  <span><i class="fas fa-dollar-sign"></i> <%= number_with_delimiter(bunker.price, :delimiter => ',') %> </span>
                </p>
                <div class="card-footer">
                    <a href="#" class=""> Edit </a>
                    <a href="#" class=""> Delete </a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

<div class="index-card">
  <div class="row">
    <h2><%= "Request".pluralize(current_user.owned_bunkers_bookings.count)%></h2>
    <% if current_user.owned_bunkers_bookings.count == 0%>
      <p>No requests</p>
    <% else %>
      <% current_user.owned_bunkers_bookings.each do |booking| %>
        <div class="col-xs-12 col-sm-6" >
          <div class="bookings-card">
            <div class="bookings-card-image" style="background-image: url('<%= cl_image_path booking.bunker.photo %>');"></div>
            <div class="bookings-card-body">

              <div class="bookings-card-header">
                <div class="bookings-card-user" style="background-image: url('<%= cl_image_path booking.user.photo %>')"></div>  
                <p>Request from <em><%= booking.user.first_name %></em></p>
              </div>
              <div class="index-line"></div>
              <div class="bookings-card-name"><h6><%= booking.bunker.name %></h6></div>
              <div class="bookings-card-status">
                <% if booking.status == "pending"%>
                  <div class="pending">
                    <%= link_to "Accept", bunker_booking_path(booking.bunker.id, booking.id, { value: "accepted" }), class: 'btn btn-success', method: :patch %>
                    <%= link_to "Refuse", bunker_booking_path(booking.bunker.id, booking.id, { value: "denied" }), class: 'btn btn-danger', method: :patch %>
                  </div>
                <% elsif booking.status == "accepted" %>
                  <p><em>You have confirmed</em></p>
                  <div class="accepted">
                    <h1><i class="fas fa-check-circle"></i></h1>
                    Confirmed 
                  </div>
                <% elsif booking.status == "denied" %>
                  <p><em>Request denied</em></p>

                  <div class="rejected">
                    <h1><i class="fas fa-ban"></i></h1>
                    Denied 
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

