 <div class="bg-half mask-black" style="background-image: url(<%= image_path 'endoftheworld-earth.jpg'%>)">
  <div class="container padded">
   <h1 style="color: #FFFFFF">My Bunkers <i class="fas fa-home"></i> </h1>
   <div class="row">
        <div class="col-xs-4">
         <% if policy(Bunker).new? %>
          <%= link_to new_bunker_path do %>
           <button type="button" class="btn btn-danger">Add a new Bunker</button>
          <% end %>
         <% end %>
        </div>
      </div>
  </div>
</div>


     <div class="wrapper-light-blu padded">
       <div class="container">
        <div class="row">
          <h2>View all my bunkers</h2>

        <div class="container">
         <div class="row">


          <% @bunkers.each do |bunker| %>
           <div class="col-xs-4">
            <div class="card">
              <div class="bunker-card-image" style="background-image: url(<%= cl_image_path bunker.photo%>)"></div>

                <div class="flat-card-content">
                 <div class="flat-card-title">
                   <strong><%= bunker.name %></strong>
                 </div>
                 <div>
                   <i class="fas fa-map-marker-alt"></i>  <%= bunker.address %>
                 </div>
                 <div>
                   <i class="fas fa-dollar-sign">   </i><%= bunker.price %>
                 </div>
                </div>

                <% if !bunker.bookings.empty? && bunker.bookings.first.status == "pending"%>
                 <%= link_to "Accept", bunker_booking_path(bunker.id, bunker.bookings.first.id, { value: "accepted" }), class: 'btn btn-success', method: :patch %>
             <%= link_to "Refuse", bunker_booking_path(bunker.id, bunker.bookings.first.id, { value: "denied" }), class: 'btn btn-danger', method: :patch %>

                <% end %>
            </div>

          </div>
          <% end %>

        </div>
      </div>

        </div>
       </div>
     </div>

    <div class="wrapper-beige  padded">
       <div class="container">
        <h2>Requests</h2>
       </div>
    </div>



