
  <div class="cover-photo" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'endoftheworld-earth.jpg'%>)">

    <div id="newbunker">

      <div class="newbunker-content">
        <div>
          <span><i class="fas fa-exclamation-triangle"> 
          Host a Bunker 
          <span><i class="fas fa-exclamation-triangle"></i></span>
          </i></span>
        </div>
        <div>
          <% if policy(Bunker).new? %>
          <%= link_to 'Add a New Bunker', new_bunker_path, class: 'btn btn-danger btn-lg' %>
          <% end %>
        </div>
      </div>


      <div class="container padded">
        <div id="container-bunker"> 
          <strong><h2>My Bunkers</h2></strong>
          <div class="row">
            <% @bunkers.each do |bunker| %>
              <div class="col-xs-4">
                <div class="card padded">
                    <div class="card-body">
                    <div class="flat-card-image" style="background-image: url(<%= cl_image_path bunker.photo%>)"></div>
                    <h5 class="card-title"><strong><%= bunker.name %></strong></h5>
                    <p class="card-text">
                    <span><i class="fas fa-map-marker-alt"> <%= bunker.address %></i></span>
                    </p>
                    <p class="card-text">
                    <span><i class="fas fa-dollar-sign"> <%= number_with_delimiter(bunker.price, :delimiter => ',') %> </i></span>
                    </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-warning"> Edit </a>
                        <a href="#" class="btn btn-danger"> Delete </a>
                    </div>
                  </div> 
                </div>
              <% end %>
            </div>
          </div>
        </div>

      <div class="wrapper-beige  padded">
        <div class="container">
          <h2>Requests</h2>
          <% if current_user.owned_bunkers_bookings.count == 0%>
            <p>You don't have any requests</p>
          <% else %>


            <div class="container">
              <% current_user.owned_bunkers_bookings.each do |booking| %>
                <% if booking.status == "pending"%>
                  <div class="message">
                    <div class="message-name">
                      <p><%= booking.bunker.name %></p>
                    </div>
                    <div class="message-body">
                      <p><em>Please confirm reservation from <%= booking.user.first_name %></em> </p>
                    </div>
                      <div class="message-status">
                          <%= link_to "Accept", bunker_booking_path(booking.bunker.id, booking.id, { value: "accepted" }), class: 'btn btn-success', method: :patch %>
                          <%= link_to "Refuse", bunker_booking_path(booking.bunker.id, booking.id, { value: "denied" }), class: 'btn btn-danger', method: :patch %>
                      </div>
                    </div>
                <% elsif booking.status == "accepted" %>
                    <div class="message">
                    <div class="message-name">
                      <p><%= booking.bunker.name %></p>
                    </div>
                    <div class="message-body">
                      <p><em>Your confirmation is successfully done</em> </p>
                    </div>

                    </div>
                <% elsif booking.status == "denied" %>

              <% end %>
          <% end %>
            <% end %>
      </div>


    </div>
  </div>


