    <div class="container padded" >
      <div class="row">
        <div class="col-12">
          <h1>My Bunkers <i class="fas fa-home"></i> </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
         <% if policy(Bunker).new? %>
          <%= link_to new_bunker_path do %>
           <button type="button" class="btn btn-danger">Add a new Bunker</button>
          <% end %>
         <% end %>
        </div>
      </div>
    </div>

     <div class="wrapper-darkmint padded">
       <div class="container">
        <div class="row">
          <% @bunkers.each do |bunker| %>
            <div class="card">
              <div class="bunker-card-image" style="background-image: url(<%= cl_image_path bunker.photo%>)"></div>
              </div>
              <li>name: <%= bunker.name %></li>
              <li>address: <%= bunker.address %></li>
              <li>description: <%= bunker.description %></li>
              <li>price: $<%= bunker.price %></li>

            <% if !bunker.bookings.empty? %>
             <p class="danger"><strong> Got a request! </strong></p>
            <% end %>
          </div>
         <% end %>
        </div>
       </div>
     </div>

