<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Host a new Bunker</h1>

      <%= simple_form_for @bunker do |f| %>
        <%= f.input :name %>
        <%= f.input :location %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
