<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <div = class="text-center">
       <h1>Host a new Bunker</h1>
      </div>
        <%= simple_form_for @bunker do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :price %>
          <%= f.input :description %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
       </div>
    </div>
  </div>
</div>


