<div class="" style="background-image: url(<%= image_path 'endoftheworld.jpg'%>)">
  <div class="container">
    <h2>Your Bunker </h2>

    <%= simple_form_for @bunker do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>


