<div>
  <div class="cover-photo" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6), rgba(0,36,61,0.6) 50%), url(<%=cl_image_path@bunker.photo%>)">
    <div class="title-card">
        <h3><%= @bunker.name %></h3>
        <h5> Address: <%= @bunker.address %></h5>
    </div>
  </div>
  
  <div class="container-show" >
    <div class="row"> 
      <div class="col-xs-12 col-sm-6 col-md-4"> 
        <div class="content-show ">
          <h3>Bunker Details</h3>
          <h5 class="description"><%= @bunker.description %></h5>
          <span><i class="fas fa-dollar-sign"></i> <%= number_with_delimiter(@bunker.price, :delimiter => ',') %></span>
          <br>
          <span><i class="fas fa-users"></i> Couple spots left!</span>
          <div class="share">
            <h4>Share</h4>
            <span><a href="https://www.facebook.com/" target="_blank" ><i class="fab fa-facebook"></i></a></span>
            <span><a href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter-square"></i></a></span>
          </div>  
        </div> 
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4"> 
        <div class="content-show ">
          <h3>Book this place!</h3>
          <div class="bunker-photo"style="background-image: url(<%=cl_image_path@bunker.photo%>)"></div>
          <h4>Book this place!</h4>
          <h5>Book this place!</h5>
          <h6>Book this place!</h6>
          <h5>Till the end of the world...</h5>
          <% if current_user == @bunker.user %>
            <p class="yours">Your bunker</p>
          <% elsif current_user != @bunker.user &&  @bunker.is_available %>
            <%= link_to 'Request to book', bunker_bookings_path(@bunker.id), class: 'btn btn-danger btn-lg', method: :post %>
          <% end %>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-4">
        <%= render "shared/map" %>
      
      </div>  
    </div>
  </div>
</div>
