<div class="map" style="background-image: url(<%= cl_image_path @bunker.photo%>)"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-xs-8">
      <div class="flat-show-card">
        <h1><%= @bunker.name %></h1>
        <p class="flat-show-address"><%= @bunker.address %></p>
      </div>
      <div class="flat-show-card">
        <h3>A bit more about this flat...</h3>
        <p><%= @bunker.description %></p>
        <div class="map" style="background-image: url(<%= cl_image_path @bunker.photo%>)">replace this pic to map</div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="flat-show-card">
        <h5 class="danger">Book this place!</h5>
        <div>
         <i class="fas fa-dollar-sign"></i> <%= number_with_delimiter(@bunker.price, :delimiter => ',') %> </div>
        <div>
          till the end of the world... </div>
        <div class="container mt-10">
          <% if @bunker.is_available %>
           <%= link_to 'Request to book', bunker_bookings_path(@bunker.id), class: 'btn btn-primary btn-lg', method: :post %>
          <% end %>

      </div>
      <div class="flat-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex">
            <i class="fas fa-users"></i><span>10</span>
          </div>
        </div>
      </div>
      <div class="flat-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>

          <div class="flex-align">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



