<div class="navbar-bunker">
   <%= link_to root_path, class: "navbar-bunker-brand" do %>
        <%= image_tag "bunker.png", height: 50 %>
    <% end %>
  <!-- Logo -->
  <% if user_signed_in? %>
    <%= link_to 'Bunker & Breakfast', bunkers_path, class: "navbar-bunker-item navbar-bunker-link" %>
  <!-- bunker amd breakfast shoudl go to index -->
  <!-- user home page is the index and should be redirect -->
  <!-- bunker amd breakfast shoudl go to index -->

  <!-- Right Navigation -->
  <div class="navbar-bunker-right hidden-xs hidden-sm">
      <!-- Links when logged in -->
      <%= link_to 'My Bunkers', mybunkers_path, class: "navbar-bunker-item navbar-bunker-link" %>

      <%= link_to "My trips", bookings_path, class: "navbar-bunker-item navbar-bunker-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-bunker-item">
        <div class="dropdown">
          <%= image_tag "userprofile.png", class: "avatar dropdown-toggle", id: "navbar-bunker-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-bunker-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
        <%= link_to 'Bunker & Breakfast', root_path, class: "navbar-bunker-item navbar-bunker-link" %>
      <div class="navbar-bunker-right hidden-xs hidden-sm">
        <%= link_to 'My Bunkers',bookings_path, class: "navbar-bunker-item navbar-bunker-link" %>
        <%= link_to "My Trips", bookings_path, class: "navbar-bunker-item navbar-bunker-link" %>
        <%= link_to t(".sign_in", default: "Sign In"), new_user_session_path, class: "navbar-bunker-item navbar-bunker-link" %>
      <% end %>
      </div>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-bunker-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-bunker-dropdown-menu">

        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>



